@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

.container {
  position: relative;
}

canvas#Matrix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input[type='text'],
select {
  padding: 5px;
  font-size: 16px;
}

button {
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1
  0px;
  font-size: 16px;
  cursor: pointer;
}

.generated-text {
  background-color: #110f0f;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}
